@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');


@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "SN Pro", sans-serif;
    /* font-family: "Nunito", sans-serif; */
    /* overflow-y: scroll; */
    /* scrollbar-width: auto;  */
}

