@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');


@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "SN Pro", sans-serif;
    /* font-family: "Nunito", sans-serif; */
    /* overflow-y: scroll; */
    /* scrollbar-width: auto;  */
}


/* not found page css */

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}


/* Hide default date icon (Chrome, Edge, Safari) */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  /* display: none; */
}

