@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');


@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "SN Pro", sans-serif;
    /* font-family: "Nunito", sans-serif; */
    /* overflow-y: scroll; */
    /* scrollbar-width: auto;  */
}


/* not found page css */

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

/* Hide default calendar icon - Chrome, Edge, Safari */
.calender::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Remove inner clear button (Edge) */
.calender::-webkit-clear-button {
  display: none;
}

/* Firefox fix */
.calender {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
